<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desc</key>
	<string>微信默认表情</string>
	<key>img</key>
	<string>default</string>
	<key>name</key>
	<string>微信表情</string>
	<key>state</key>
	<integer>0</integer>
	<key>type</key>
	<integer>0</integer>
	<key>uuid</key>
	<string>wechat.default</string>
	<key>emotions</key>
	<array>
		<dict>
			<key>desc</key>
			<string>[微笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>weixiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[撇嘴]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>piezui</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[色]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>se</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[发呆]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>fadai</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[得意]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>deyi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[流泪]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>liulei</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[害羞]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>haixiu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[闭嘴]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>bizui</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[睡]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>shui</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[大哭]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>daku</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[尴尬]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>ganga</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[发怒]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>fanu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[调皮]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>tiaopi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[呲牙]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>ciya</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[惊讶]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>jingya</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[难过]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>nanguo</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[囧]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>jiong</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[抓狂]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zhuakuang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[吐]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>tu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[偷笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>touxiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[愉快]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yukuai</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[白眼]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>baiyan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[傲慢]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>aoman</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[困]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kun</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[惊恐]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>jingkong</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[流汗]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>liuhan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[憨笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>hanxiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[悠闲]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>youxian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[奋斗]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>fendou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[大骂]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>dama</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[疑问]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yiwen</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[嘘]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>xu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[晕]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yun</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[衰]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>shuai</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[骷髅]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kulou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[敲打]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>qiaoda</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[再见]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zaijian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[擦汗]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>cahan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[抠鼻]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>koubi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[鼓掌]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>guzhang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[坏笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>huaixiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[左哼哼]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zuohengheng</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[右哼哼]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>youhengheng</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[哈欠]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>haqian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[鄙视]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>bishi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[委屈]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>weiqu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[快哭了]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kuaikule</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[阴险]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yinxian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[亲亲]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>qinqin</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[可怜]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kelian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[菜刀]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>caidao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[西瓜]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>xigua</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[啤酒]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>pijiu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[咖啡]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kafei</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[猪头]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zhutou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[玫瑰]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>meigui</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[凋谢]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>diaoxie</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[嘴唇]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zuichun</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[爱心]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>aixin</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[心碎]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>xinsui</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[蛋糕]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>dangao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[炸弹]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zhadan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[便便]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>bianbian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[月亮]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yueliang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[太阳]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>taiyang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[抱抱]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>yongbao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[强]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>qiang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[弱]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>ruo</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[握手]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>woshou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[胜利]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>shengli</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[抱拳]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>baoquan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[勾引]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>gouyin</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[拳头]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>quantou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[OK]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>OK</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[跳跳]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>tiaotiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[发抖]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>fadou</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[怄火]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>ouhuo</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[转圈]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zhuanquan</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[笑脸]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>xiaolian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[生病]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>shengbing</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[破涕为笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>potiweixiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[吐舌]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>tushe</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[脸红]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>lianhong</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[恐惧]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>kongju</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[失望]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>shiwang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[无语]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>wuyu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[嘿哈]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>heiha</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[捂脸]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>wulian</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[奸笑]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>jianxiao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[机智]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>jizhi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[皱眉]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>zhoumei</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[耶]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>ye</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[鬼魂]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>guihun</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[合十]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>heshi</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[强壮]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>qiangzhuang</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[庆祝]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>qingzhu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[礼物]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>liwu</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[红包]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>hongbao</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>desc</key>
			<string>[发]</string>
			<key>extension</key>
			<string>png</string>
			<key>img</key>
			<string>fa</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
