<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>我知道遇到你不容易, 错过了会很可惜; 深情不及久伴, 厚爱无需多言!</string>
	<string> 任何一件事, 只要心甘情愿, 总是能够变得简单, 不会有任何复杂的借口和理由!</string>
	<string>我对你的爱, 上天知道, 因为你看不到!</string>
	<string> 想你是一种痛, 隐隐的痛, 不常来挥之不去!</string>
	<string>没有合不合适, 距离也不是问题, 问题是他真不真心, 珍不珍惜!</string>
	<string> 傻笑不是与生俱来的, 而是由我爱上你的那一刻开始的!</string>
	<string>很庆幸可以走到你身边, 很遗憾没能走进你心里!</string>
	<string> 有的人最害怕生不逢时, 而我最害怕的是生未逢你!</string>
	<string>回忆是件很累的事情, 就像失眠时怎么躺都不对的样子!</string>
	<string> 最难过的不是放声大哭, 是把自己捂在被子里, 哭得悄无声息, 不声不响!</string>
	<string>人总是善变, 无论他之前有多么爱你, 之后就有多么讨厌你!</string>
	<string>可惜喜欢就像乘法一样, 只要一方为零, 结果便为零!</string>
	<string>没有什么特定的小瞬间, 都是常态罢了!</string>
	<string>思念成疾, 体验到了一日不见, 如隔三秋之感!</string>
	<string>我一整天都没戴上眼镜, 因为无论怎样都没有你!</string>
	<string>任何一件事, 只要心甘情愿, 总是能够变得简单, 不会有任何复杂的借口和理由!</string>
	<string>最快的脚步不是跨越, 而是继续; 最慢的步伐不是小步, 而是徘徊!</string>
	<string>不是每个人, 都可以在我心里兴风作浪!</string>
	<string>不是每个人, 都可以在我心里兴风作浪!</string>
	<string>你的记忆, 残存着你我依昔的记忆; 我的记忆, 却填满了写你的日记!</string>
</array>
</plist>
